<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="couchbase" type="Couchbase.Configuration.CouchbaseClientSection, Couchbase"/>
  </configSections>

  <couchbase>
    <documentNameTransformer type="Couchbase.Configuration.ProductionModeNameTransformer, Couchbase"/>
    <httpClientFactory type="Couchbase.HammockHttpClientFactory, Couchbase"/>
    <servers bucket="default" bucketPassword="">
      <add uri="http://192.168.1.196:8091/pools/default"/>
    </servers>
  </couchbase> 
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
