body
{
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #680000;
    margin:0px;
}

header,
footer,
nav,
section {
    display: block;
}

h2 
{    
    padding:10px;
}

a 
{
    color:#FF0000;
}


/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:20px 20px 1.5em 20px;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/* Navigation ------------- */
#main-nav 
{
    background-color:#303030;
    color:#fff;
    font-size:2.0em;
}

#main-nav a
{
    color:#fff;
    text-decoration:none;
    margin-right:10px;
    margin-left:10px;
}

#main-nav a:hover
{
    color:#c0c0c0;
    background-color:#000;
}