@{
    ViewBag.Title = "TapMap";
}

<h2>Welcome to TapMap</h2>

<div id="taps" class="well" style="margin-top:20px;">

</div>

<script language="javascript">
    window.setInterval(function () {
        $.get('@Url.Content("~/Tap/List")', function (data) {
            $("#taps").empty();
            $.each(data, function (i, v) {
                var date = v.time.replace("/Date(", "").replace(")/", "");
                $("#taps").append(
                    "<div>" + v.user + " tapped " + v.beer + " at " + v.place + "</div>" +
                    "<div style='margin-bottom:10px;border-bottom:1px solid #c0c0c0;'><em>"
                        + v.comment + " at " + new Date(parseInt(date)) +
                    "</em></div>"
                );
            });
        });
    }, 1000);

</script>